$max-width: 80em;
$radius: 2px;

$margin: 1.35em;

$padding-s: .25em;
$padding-m: .5em;
$padding-l: 1em;

$spacing: 2px;

$copy: Questrial, "Century Gothic", Arial, helvetica, sans-serif;
$display: Questrial, "Century Gothic", Arial, helvetica, sans-serif;
$icons: FontAwesome;
$mono: consolas, courier, monospace;

$font-size: 1em;
$font-size-s: 12px;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.3em;
$font-size-xxl: 1.8em;
$line-height: 1.35;

$doc-font-size: 16;

$white: #fff;
$gray: #eee;
$dark-gray: darken($gray, 10%);
$black: #000;
$dark: #453E3F;
$blue: #145497;
$red: #E74136;

$border: 1px solid darken($gray, 10%);

$text-color: $dark;
$link-color: $blue;

$mobile: 320; 
$tablet: 760; 
$desktop: 1120;

@mixin mq($point, $IE9: false, $query1: min, $query2: width) {
    @if $IE9 == true{
        .lt-ie9 & {
            @content;
        }
        @media screen and (#{$query1}-#{$query2}: $point / $doc-font-size +em) {
            @content;
        }
    }

    @else {
        @media screen and (#{$query1}-#{$query2}: $point / $doc-font-size +em) {
            @content;
        }
    }
}