
.site-header, .site-footer {
    .block-title {
        @extend .visuallyhidden;
    }
}

.tabs {
    width: 100%;
    float: left;
    margin: 0 0 1.35em 0;
    padding: 0 $padding-l;
    list-style: none;
    border-top: 1px solid $dark-gray;
    @include clearfix();
    li {
        float: right;
        margin-left: $spacing;
        a {
            display: block;
            padding: $padding-m;
            border: 1px solid $dark-gray;
            border-top: 0 solid;
            margin-top: -1px;
            &.active {
                border-top: 0 solid;
                background: #fff;
            }
        }
    }
}


.form-actions {
    input[type="submit"] {
        @extend %btn;
        margin: 0 2px 2px 0;
        border: 0 solid;
        font-weight: normal;
    }
}

.action-links {
    @extend %margin;
    padding: 0;
    list-style: none;
    @include clearfix();
    li {
        float: left;
        margin: 0 $spacing $spacing 0;
        a {
            @extend %btn;
        }
    }
}

.collapsible {
    @extend %margin;
    legend {
        @extend %btn;  
        a {
            color: #000;
            font-weight: bold;
        }
    }
}


.form-submit {
    @extend %btn;
    margin: $padding-m 0;
}

.fieldset-wrapper {
    padding: $padding-l;
}

input[type="checkbox"] {
    margin-right: .25em;
}

.description {
    padding: .25em 0 .5em .5em;
    margin: 0 !important;
    font-size: $font-size-s;
    color: gray;
}

tr.even,
tr.odd {
  border-bottom: 2px solid #fff;
}

.item-list {
    float: left;
    width: 100%;
}
.item-list ul.pager {
    text-align: left;
    @include clearfix();
    li {
        float: left;
        margin: 0;
        padding: 0;
        a {
            display: block;
            padding: $padding-s;
        }
    }
    li.pager-current {
        padding: $padding-s;
    }
}


.views-displays {
    .tabs {
        border-top:0 solid !important;
    }
}

.messages {
    margin: $margin !important;
}

#edit-cancel {
    @extend %btn;
}

.page-title {
    em {
        font-style: normal;
        color: $red;
    }
}

.page-node-edit {
    .site-main .row, .site-main .sub {
        width: 100%;
        max-width: 100%;
    }
    .site-content {
        width: 100%;
        sfont-size: $font-size-s !important;
        textarea {
            font-family: $copy;
            padding: $padding-l;
        }
    }
    .sidebar {
        display: none;
    }
}

.fieldset-wrapper {
    padding: 0;
}

.fieldset-legend {
    font-size: 1em;
    font-weight: bold;
}

.form-file {
    border: 0 solid;
    padding: 0;
    margin-right: $padding-l;
}

.form-field-type-taxonomy-term-reference, .form-field-type-entityreference {
    float:left;
    width: 14.285%;
    font-size: 12px;
}

.vertical-tabs {
    float:left;
    width: 100%;
}

.vertical-tabs ul.vertical-tabs-list {
    width: 25em;
    margin: -1px 0 -1px -25em;
}