
/*  TOC:

    HEADER
    NAV
    MAIN
    FOOTER
    FRONT
    PAGE
    SLIDER
    BLOCK MENU
    PHOTOGRID
    EINRICHTUNGSBEISPIELE
    EINRICHTUNGSBEISPIEL
    TABS
    NODE NAVIGATION
    DRAGGABLE VIEWS
//////////////////////////////////////////////////////////////////////////////*/


/*  HEADER
//////////////////////////////////////////////////////////////////////////////*/

.site-header {
    .branding {
        padding: $padding-l*2;
        position: relative;
        height: 10em;
        .site-logo {
            position: absolute;
            bottom: $padding-l*3;
            max-width: 30em;
        }
        .site-title-and-tagline h1 {
            text-indent: -999em;
        }
    }
    .call-to-action {
        padding: $padding-l;
        background: url(assets/ricky.png) no-repeat bottom right;
        height: 10em;
        position: relative;
        .block-title {
            @include hide-text();
        }
        .cta-body {
            position: absolute;
            bottom: $padding-l*3;
        }
        .cta-button {
            @extend %btn-primary;
            margin-bottom: 2px;
            width: 60%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &:before {
                font-family: $icons;
                content: "\f02d";
                padding-right: 5px;
            }
        }
        .cta-tel {
            padding: .25em 0.5em .25em .5em;
            background: rgba(255,255,255,.4);
            float: left;
            margin-top: -2px;
            width: 60%;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            b {
                @include hide-text();
            }
            &:before {
                font-family: $icons;
                content: "\f095";
            }
        }
    }
}

/*  NAV
//////////////////////////////////////////////////////////////////////////////*/

.site-nav {
    .row {
        padding-left: 2em + $padding-m;
        margin-top: -1.7em;
    }
    .nav-main {
        padding: 0 0;
        #main-menu {
            @include clearfix();
            float: left;
            sbackground: red;
            width: 85%;
            li {
                float: left;
                a {
                    display: block;
                    padding: $padding-s $padding-m 0 $padding-m;
                    text-decoration: none;
                    margin: 0 0 0 0;
                }
            }
        }
    }


    /*
    .search {
        padding: 0 $padding-l 0 $padding-l;
        #search-block-form {
            @extend %hidden;
            position: relative;
            input {
                border: 0 solid;
                padding: .25em .5em;
            }
            input[type="text"] {
                width: 100%;
                box-shadow: 1px 1px 1px rgba(0,0,0,.4) inset;
                border-radius: $radius;
            }
            input[type="submit"] {
                background: transparent;
                position: absolute;
                top: 0;
                right: 0;
            }
            .form-item, .form-actions {
                margin: 0;
            }
        }
    }*/
}

/*  MAIN
//////////////////////////////////////////////////////////////////////////////*/

.site-main {
    .site-content {
        padding: $padding-l*2;
        .breadcrumb {
            margin: 0 0 $margin 0;
            ol {
                @include clearfix();
                li {
                    float: left;
                    margin-right: $spacing;
                }
            }
        }
    }
    .sidebar {
        padding: $padding-l 2px 0 2px;
        border-radius: $radius;
        h1, h2, h3, h4, h5, h6 {
            font-size: $font-size-l;
            margin: 0 0 $padding-s 0;
            padding: 0 $padding-l;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 $margin 0;
            a.active-trail {
                background: $blue;
                color: $white;
                &:hover {
                    color: #000;
                }
            }
            li {
                a {
                    display: block;
                    text-decoration: none;
                    font-size: $font-size-l;
                    padding: 0 $padding-l;
                    border-radius: $radius;
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }
}

/*  FOOTER
//////////////////////////////////////////////////////////////////////////////*/

.site-footer {
    color: rgba(0,0,0,.7);
    h2, h3, h4, h5, h6 {
        font-size: $font-size-m;
        margin: 0;
        line-height: $line-height;
    }
    .block-title {
        @include hide-text();
    }
    table {
        td, th {
            padding: 0;
        }
        tbody {
            border-top: 0;
        }
    }
    .site-info {
        padding: $padding-l $padding-l*2;
    }
    .footer-first {
        padding: $padding-l $padding-l*2;
    }
    .footer-second {
        padding: $padding-l $padding-l*2;
    }
    .footer-third {
        padding: $padding-l $padding-l*2;
    }
}

.site-footer {
    .tel {
        &:before {
            font-family: $icons;
            content: "\f095";
            padding-right: 5px;
        }
    }
    .fax {

        &:before {
            font-family: $icons;
            content: "\f02f";
            padding-right: 5px;
        }
    }
    .www {
        &:before {
            font-family: $icons;
            content: "\f0ac";
            padding-right: 5px;
        }
    }
    .email {
        &:before {
            font-family: $icons;
            content: "\f0e0";
            padding-right: 5px;
        }
    }
}

/*  FRONT
//////////////////////////////////////////////////////////////////////////////*/

.front {
    .col-right {
        position: relative;
        .flower {
            position: absolute;
            top: 10em;
            right: -3em;
            width: 15em;
            z-index: 9999; 
        }
    }
    .region-front-aside .field-name-body {
        font-size: $font-size-m;
    }
    .field-name-field-col-left {
        width: 100% !important;
    }
}

/*  PAGE
//////////////////////////////////////////////////////////////////////////////*/

.page-node {
    .content {
        @include clearfix();
    }
    .field-label {
        @extend %hidden;
    }
    .field-name-body {
        margin-bottom: $margin;
        font-size: $font-size-l;
    }
    .field-name-field-col-left {
        float: left;
        width: 50%;
        padding-right: $padding-l;
    }
    .field-name-field-col-right {
        float: right;
        width: 50%;
        padding-left: $padding-l;
    }
}

/*  SLIDER
//////////////////////////////////////////////////////////////////////////////*/

.flexslider {
    @extend %mp0;
    .slides, .flex-control-nav, .flex-direction-nav {
        @extend %mp0; 
        list-style: none; 
    }
    .slides {
        @include clearfix();
        > li {
            @extend %hidden;
            -webkit-backface-visibility: hidden; 
        }
        img {
            width: 100%; 
            display: block; 
        }
    }
}

.front {
.flex-control-nav, .flex-direction-nav {
    @extend %hidden;
}    
}


.no-js .slides > li:first-child {
    display: block; }

/*  BLOCK MENU
//////////////////////////////////////////////////////////////////////////////*/

#block-menu-block-1 {
  overflow: hidden;
  margin-bottom: $margin;
  .block-title {
      @extend %hidden;
  }
}

.menu-block-1 ul {
  @extend %mp0;
}

.menu-block-1 li {
  list-style: none !important;
  margin: 0 0 $padding-l*2 0 !important;
  position: relative;
  display: block;
}

.menu-block-1 a {
    float: left;
    width: 33.3333%;
    display: block;
    height: 150px;
    padding: $padding-s $padding-m;
    background-repeat: no-repeat !important;
    font-size: $font-size-l;
}

.holzarten a {
    background: url(assets/blockmenu/1.jpg); }
.lackfarben a {
    background: url(assets/blockmenu/2.jpg); }
.fronten a {
    background: url(assets/blockmenu/3.jpg); }
.qualit-t-und-material a {
    background: url(assets/blockmenu/5.jpg); }
.beschl-ge a {
    background: url(assets/blockmenu/4.jpg); }
.beleuchtung a {
    background: url(assets/blockmenu/6.jpg); }

/*  PHOTOGRID
//////////////////////////////////////////////////////////////////////////////*/

.photogrid {
    @include clearfix();
    figure {
        float: left;
        margin-right: $padding-l*2;
        margin-bottom: $margin*2;
        width: 6em;
        position: relative;
        img {
            margin: 0 0 5px 0;
        }
        figcaption {
            position: absolute;
            font-size: $font-size-s;
            b {
                display: block;
            }
        }
    }
}

/*  EINRICHTUNGSBEISPIELE
//////////////////////////////////////////////////////////////////////////////*/

.einrichtungsbeispiele {
    img {
        margin: 0 0 5px 0;
    }
    .beispielnummer {
        font-size: $font-size-s;
    }
    .titel {
        font-size: $font-size-m;
    }
    td {
        padding: 0 $padding-m $padding-m 0;
        width: 25% !important;
        img {
            width: 100%;
        }
    }
}


/*  EINRICHTUNGSBEISPIEL
//////////////////////////////////////////////////////////////////////////////*/

.node-einrichtungsbeispiel {
    .einrichtungsbeispiel-main {
        float:left;
        width: 66.6666%;
    }
    .flexslider {
        margin: 0;
    }
    .beispielnummer {
        padding: $padding-m;
    }
    .einrichtungsbeispiel-details {
        float: right;
        width: 33.3333%;
        padding: $padding-l;
        .field-label {
            display: block !important;
        }
        .spalte1 {
            @extend %margin;
        }
        .spalte2 {
            @extend %margin;
        }
        .wohnbereich {
            @extend %margin;
        }
        .stil {
            @extend %margin;
        }
    }
}

/*  TABS
//////////////////////////////////////////////////////////////////////////////*/

.node-einrichtungsbeispiel, .page-node-11 .content { 
    .tab-container {
        float: left;
        width: 100%;
        margin-bottom: $margin;
    }
    .tabs {
        border-top: 0 solid;
        border-bottom: 1px solid $dark-gray;
        margin: 0;
        padding-left: 0;
        .tab {
            float: left;
            margin-left: 0;
            margin-right: $spacing;
        }
        .tab a {
            margin-top: 0;
            margin-bottom: -1px;
            border: 1px solid $dark-gray;
            border-bottom: 0 solid;
            &.active {
                background: #fff;
            }
        }
    }
    .tab-pane {
        border: 1px solid $dark-gray;
        border-top: 0 solid;
        padding: $padding-m;
        float: left;
        width: 100%;
        @include clearfix();
        .taxonomy-term {
            float: left;
            margin-right: $padding-l;
            h2 {
                font-size: $font-size-m;
                margin: 0;
            }
            .taxonomy-term-description {
                @extend %hidden;
            }
        }
    }
}

/*  NODE NAVIGATION
//////////////////////////////////////////////////////////////////////////////*/

.node {
    position: relative;
}

.node-navigation {
    position: absolute;
    padding: $padding-l;
    top: -$margin*3;
    left: 66.6666%;
    margin: 0;
    list-style: none;
    @include clearfix();
    li {
        float: right;
    }
    a {
        display: block;
        padding: $padding-s;
        border: 1px solid $gray;
        margin-right: $spacing;
    }
}

.node-navigation.bottom { 
    padding-left: 0;
    bottom: -$margin*3;
    top: auto;
    left: auto;
}

/*  DRAGGABLE VIEWS
//////////////////////////////////////////////////////////////////////////////*/

.draggableviews-processed li.views-row {
    display: block;
    float: left;
    width: 25%;
    margin: 0;
    padding: $padding-s;
    cursor: move;
    height: 12em;
    img {
        margin: 0 0 5px 0;
    }
    .views-field-field-beispielnummer, .views-field-nid {
        @extend %hidden;
    }
}