body {
    background: $dark; }

.site-header {
    background: $gray;
    @include linear-gradient(180deg, #fff 0%, #b7b7b7 100%); }

.site-nav {
    color: silver;
    border-bottom: 2px solid #000;
    .nav-main {
        background: $dark;
        margin-top: -1.7em;
        padding: 2px 2px 0 2px;
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
        a {
            position: relative;
            border-radius: $radius;
            color: $gray;
            font-weight: bold;
            &:hover {
                background: $red;
            }
        }
    } 
}

.site-main {
    background: #fff;
    .sidebar {
        background: $gray;
    } 
}

.site-footer {
    border-top: 2px solid #000;
    color: silver;
    a {
        color: $gray;
        font-weight: bold; 
    } 
}

