@import "bourbon";
@import "config";
@import "base";
@import "helpers";
@import "modules";
@import "skin";
@import "layout";
@import "print";
@import "drupal";
@import "ie";

.region-navigation {
    float: right;
    background: blue;
    width: 15%;
    #block-search-form {
        #search-block-form {
            margin-bottom: 0;
            position: relative;
            .form-item, .form-actions {
                margin: 0;
            }
            .form-text {
                width: 100%;
                border: .125em solid $dark;
                border-bottom: 0 solid;
                padding: 0 .5em;
                padding-top: .125em;
                padding-right: 25px;
            }
            .form-submit {
                margin: 0;
                padding: 0;
                border: 0 solid;
                position: absolute;
                top: 2px;
                right: 2px;
                background: transparent;
            }

        }
    }
}


// taxonomy

.page-taxonomy-term {
    .node {
        sbackground: red;
        float: left;
        width: 25%;
        padding-right: 1em;
        height: 100px;
        li {
            list-style: none;
            
        }
        img {
            sposition: absolute;
            max-height: 100px;
            width: auto;
            margin: 0;
        }
        h1 {
            font-size: 1em;
        }
    }
}

.taxonomy-term {
    .content {
        @include clearfix();
    }
}

.taxonomy-term-description {
margin: 0;
}

.field-name-field-symbolbild {
    float:left;
    margin: 0 1em 1em 0;
}


// cta


.flex-control-nav {
    @include clearfix();
    li {
        float: left;
        width: 18%;
        margin-right: 2%;
        cursor: pointer;
    }
}

.flex-direction-nav {
    display: none !important;
}





  
/* AUTOCOMPLETE 
----------------------------------*/
.ui-autocomplete { 
    position: absolute; 
    cursor: default;

     }   


.ui-autocomplete-input {
  background-image: url("images/throbber.gif");
  background-position: 100% 4px;
  background-repeat: no-repeat;
}
.ui-autocomplete-loading {
  background-image: url("images/throbber.gif");
  background-position: 100% -16px;
  background-repeat: no-repeat;
}
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

/* make even odd distinction */
#ui-theme-classic .ui-menu-item-odd {
    background-color: #eeeeee;
}
#ui-theme-classic .ui-menu-item-even { }

/* Component containers */
#ui-theme-classic { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
#ui-theme-classic a { color: #333333; }

/* Corner radius */
#ui-theme-classic .ui-corner-all { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
#ui-theme-classic .ui-corner-all { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
#ui-theme-classic .ui-corner-all { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
#ui-theme-classic .ui-corner-all { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Interaction States */
#ui-theme-classic .ui-state-hover { font-weight: normal; border: none; background-image: none; background-color: #0A246A; color: white; }




// search

/*

form#search-block-form {
    position: relative;
    padding: $padding-l;
    width: 100%;
    margin: 0 0 $margin 0;
    .form-item {
        margin: 0;
        padding: 0;
    }
    .form-actions {
        float: none;
        width: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        top: $padding-l;
        right: $padding-l;
        #edit-submit {

            margin: 0;
            padding: $padding-m;
            border: 0 solid;
            @extend %btn-primary;
        }
    }
    input#edit-search-block-form--2 {
        margin: 0;
        padding: $padding-m;
        border: 0 solid;
        background: $white;
        width: 100%;
    }
}


.ui-autocomplete-input {
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.ui-autocomplete-loading {
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
}

*/


