@font-face {
  font-family: Questrial;
  font-weight: normal;
  font-style: normal;
  src: url("../../_assets/fonts/questrial/Questrial-Regular-webfont.eot");
  src: url("../../_assets/fonts/questrial/Questrial-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../_assets/fonts/questrial/Questrial-Regular-webfont.woff") format("woff"), url("../../_assets/fonts/questrial/Questrial-Regular-webfont.ttf") format("truetype"), url("../../_assets/fonts/questrial/Questrial-Regular-webfont.svg#Questrial") format("svg"); }

@font-face {
  font-family: Fontawesome;
  font-weight: normal;
  font-style: normal;
  src: url("../../_assets/fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../../_assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../_assets/fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../../_assets/fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../../_assets/fonts/fontawesome/fontawesome-webfont.svg#Fontawesome") format("svg"); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, input, select, button {
  font-family: Questrial;
  line-height: 1.35;
  font-size: 12px;
  color: #453e3f; }
  @media (min-width: 1040px) {
    body, input, select, button {
      font-size: 14px; } }
  @media (min-width: 1120px) {
    body, input, select, button {
      font-size: 1em; } }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

img, iframe {
  max-width: 100%; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  height: auto !important; }

figure img {
  border: 0 solid !important;
  box-shadow: 0 0 0 white !important; }

a {
  color: #145497;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  /* FF3.7+ */
  -o-transition: all 0.2s ease-in-out;
  /* Opera 10.5 */
  -webkit-transition: all 0.2s ease-in-out;
  /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in-out; }
  a:hover {
    color: #08223d;
    -moz-transition: all 0.2s ease-in-out;
    /* FF3.7+ */
    -o-transition: all 0.2s ease-in-out;
    /* Opera 10.5 */
    -webkit-transition: all 0.2s ease-in-out;
    /* Saf3.2+, Chrome */
    transition: all 0.2s ease-in-out; }
  a:hover, a:active {
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Questrial, Lato, "Questrial", "Century Gothic", PTSans, Arial, helvetica, sans-serif; }

h1 {
  font-size: 1.8em;
  margin: 0 0 0.675em 0;
  line-height: 1; }

h2 {
  font-size: 1.3em;
  margin: 0 0 0.675em 0;
  line-height: 1.1; }

h3 {
  font-size: 1.1em;
  margin: 0 0 0.675em 0;
  line-height: 1.2; }

h4, h5, h6 {
  font-size: 1em;
  margin: 0; }

dl dd {
  margin: 0;
  padding: 0; }

article ul, article ol {
  padding: 0 0 0 1.35em; }

dd {
  margin: 0 0 1.35em 0;
  padding: 0 0 0 1.35em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

small, .small {
  font-size: 12px; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted #d4d4d4; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eeeeee;
  margin: 1.35em 0;
  padding: 0; }

pre, code, kbd, samp {
  font-family: consolas, courier, monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub, sup {
  font-size: 12px;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

blockquote {
  font-style: italic;
  margin: 1em; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  table * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  table td, table th {
    vertical-align: top;
    padding: 1em; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

input {
  border: 1px solid #d4d4d4;
  background: white;
  padding: 0.5em;
  margin: 0; }

input, textarea, button {
  border-color: #d4d4d4;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

table button, table input {
  *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  padding: 0.5em; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

input:invalid, textarea:invalid {
  background-color: #f7c2bf; }

::-moz-selection {
  background: #145497;
  color: white;
  text-shadow: none; }

::selection {
  background: #145497;
  color: white;
  text-shadow: none; }

.checklist {
  list-style: none; }
  .checklist li {
    position: relative; }
  .checklist li:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #e74136;
    position: absolute;
    left: -1.35em; }

.pointless {
  list-style: none; }
  .pointless img {
    margin-right: 1em;
    float: left; }
  .pointless li {
    margin-bottom: 1em;
    *zoom: 1; }
    .pointless li:before, .pointless li:after {
      content: " ";
      display: table; }
    .pointless li:after {
      clear: both; }

.urbana {
  font-weight: bold;
  font-family: Questrial, Lato, "Questrial", "Century Gothic", PTSans, Arial, helvetica, sans-serif;
  color: #145497; }
  .urbana span {
    color: #e74136; }

.site-footer .urbana {
  color: silver; }
  .site-footer .urbana span {
    color: #eeeeee; }

.site-header .call-to-action .cta-button, .form-submit {
  background: #e74136;
  color: #fdedec;
  font-weight: bold !important;
  border-radius: 2px;
  border-color: #e74136;
  padding: 0.25em 0.5em;
  display: inline-block;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  /* FF3.7+ */
  -o-transition: all 0.2s ease-in-out;
  /* Opera 10.5 */
  -webkit-transition: all 0.2s ease-in-out;
  /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in-out; }
  .site-header .call-to-action .cta-button:hover, .form-submit:hover {
    background: #d12419;
    -moz-transition: all 0.2s ease-in-out;
    /* FF3.7+ */
    -o-transition: all 0.2s ease-in-out;
    /* Opera 10.5 */
    -webkit-transition: all 0.2s ease-in-out;
    /* Saf3.2+, Chrome */
    transition: all 0.2s ease-in-out; }

.form-actions input[type="submit"], .action-links li a, .collapsible legend, #edit-cancel {
  background: #d4d4d4;
  color: black;
  font-weight: bold !important;
  border-radius: 2px;
  padding: 0.25em 0.5em;
  display: inline-block;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  /* FF3.7+ */
  -o-transition: all 0.2s ease-in-out;
  /* Opera 10.5 */
  -webkit-transition: all 0.2s ease-in-out;
  /* Saf3.2+, Chrome */
  transition: all 0.2s ease-in-out; }
  .form-actions input[type="submit"]:hover, .action-links li a:hover, .collapsible legend:hover, #edit-cancel:hover {
    background: #bbbbbb;
    -moz-transition: all 0.2s ease-in-out;
    /* FF3.7+ */
    -o-transition: all 0.2s ease-in-out;
    /* Opera 10.5 */
    -webkit-transition: all 0.2s ease-in-out;
    /* Saf3.2+, Chrome */
    transition: all 0.2s ease-in-out; }

.site-nav .nav-main, .site-footer .site-info, .page-admin .site-main .site-content, .page-admin .site-main .sub {
  width: 100%;
  float: left; }

.site-main .site-content, .site-main .sub {
  width: 85%;
  float: left; }

.site-header .branding {
  width: 75%;
  float: left; }

.front .col-left, .front .col-right {
  width: 50%;
  float: left; }

.site-footer .footer-first, .site-footer .footer-second, .site-footer .footer-third {
  width: 28.3333333333%;
  float: left; }

.site-header .call-to-action {
  width: 25%;
  float: left; }

.site-main .sidebar {
  width: 15%;
  float: left; }

figure, article img, article iframe, p, ul, ol, dl, table, form, .node-einrichtungsbeispiel .einrichtungsbeispiel-details .spalte1, .node-einrichtungsbeispiel .einrichtungsbeispiel-details .spalte2, .node-einrichtungsbeispiel .einrichtungsbeispiel-details .wohnbereich, .node-einrichtungsbeispiel .einrichtungsbeispiel-details .stil, .action-links, .collapsible {
  margin: 0 0 1.35em 0; }

.site-header .branding {
  padding: 2em;
  position: relative;
  height: 10em; }
  .site-header .branding .site-logo {
    position: absolute;
    bottom: 3em;
    max-width: 30em; }
  .site-header .branding .site-title-and-tagline h1 {
    text-indent: -999em; }
.site-header .call-to-action {
  padding: 1em;
  background: url(assets/ricky.png) no-repeat bottom right;
  height: 10em;
  position: relative; }
  .site-header .call-to-action .block-title {
    color: transparent;
    font: 0/0 a;
    text-shadow: none; }
  .site-header .call-to-action .cta-body {
    position: absolute;
    bottom: 3em; }
  .site-header .call-to-action .cta-button {
    margin-bottom: 2px; }
    .site-header .call-to-action .cta-button:before {
      font-family: FontAwesome;
      content: "\f02d";
      padding-right: 5px; }
  .site-header .call-to-action .cta-tel {
    padding: 0.25em 0.5em 0.25em 0.5em;
    background: rgba(255, 255, 255, 0.4);
    float: left;
    margin-top: -2px; }
    .site-header .call-to-action .cta-tel b {
      color: transparent;
      font: 0/0 a;
      text-shadow: none; }
    .site-header .call-to-action .cta-tel:before {
      font-family: FontAwesome;
      content: "\f095"; }

.site-nav .row {
  padding-left: 2.5em; }
.site-nav .nav-main {
  padding: 0 0; }
  .site-nav .nav-main #main-menu {
    *zoom: 1; }
    .site-nav .nav-main #main-menu:before, .site-nav .nav-main #main-menu:after {
      content: " ";
      display: table; }
    .site-nav .nav-main #main-menu:after {
      clear: both; }
    .site-nav .nav-main #main-menu li {
      float: left; }
      .site-nav .nav-main #main-menu li a {
        display: block;
        padding: 0.25em 0.5em 0 0.5em;
        text-decoration: none;
        margin: 0 0 0 0; }
.site-nav .search {
  padding: 0 1em 0 1em; }
  .site-nav .search #search-block-form {
    display: none;
    position: relative; }
    .site-nav .search #search-block-form input {
      border: 0 solid;
      padding: 0.25em 0.5em; }
    .site-nav .search #search-block-form input[type="text"] {
      width: 100%;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
      border-radius: 2px; }
    .site-nav .search #search-block-form input[type="submit"] {
      background: transparent;
      position: absolute;
      top: 0;
      right: 0; }
    .site-nav .search #search-block-form .form-item, .site-nav .search #search-block-form .form-actions {
      margin: 0; }

.site-main .site-content {
  padding: 2em; }
  .site-main .site-content .breadcrumb {
    margin: 0 0 1.35em 0; }
    .site-main .site-content .breadcrumb ol {
      *zoom: 1; }
      .site-main .site-content .breadcrumb ol:before, .site-main .site-content .breadcrumb ol:after {
        content: " ";
        display: table; }
      .site-main .site-content .breadcrumb ol:after {
        clear: both; }
      .site-main .site-content .breadcrumb ol li {
        float: left;
        margin-right: 2px; }
.site-main .sidebar {
  padding: 1em 2px 0 2px;
  border-radius: 2px; }
  .site-main .sidebar h1, .site-main .sidebar h2, .site-main .sidebar h3, .site-main .sidebar h4, .site-main .sidebar h5, .site-main .sidebar h6 {
    font-size: 1.1em;
    margin: 0 0 0.25em 0;
    padding: 0 1em; }
  .site-main .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1.35em 0; }
    .site-main .sidebar ul li a {
      display: block;
      text-decoration: none;
      font-size: 1.1em;
      padding: 0 1em;
      border-radius: 2px; }
      .site-main .sidebar ul li a:hover {
        background: #fff; }

.site-footer {
  color: rgba(0, 0, 0, 0.7); }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6 {
    font-size: 1em;
    margin: 0;
    line-height: 1.35; }
  .site-footer .block-title {
    color: transparent;
    font: 0/0 a;
    text-shadow: none; }
  .site-footer table td, .site-footer table th {
    padding: 0; }
  .site-footer table tbody {
    border-top: 0; }
  .site-footer .site-info {
    padding: 1em 2em; }
  .site-footer .footer-first {
    padding: 1em 2em; }
  .site-footer .footer-second {
    padding: 1em 2em; }
  .site-footer .footer-third {
    padding: 1em 2em; }

.site-footer .tel:before {
  font-family: FontAwesome;
  content: "\f095";
  padding-right: 5px; }
.site-footer .fax:before {
  font-family: FontAwesome;
  content: "\f02f";
  padding-right: 5px; }
.site-footer .www:before {
  font-family: FontAwesome;
  content: "\f0ac";
  padding-right: 5px; }
.site-footer .email:before {
  font-family: FontAwesome;
  content: "\f0e0";
  padding-right: 5px; }

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

.flexslider img {
  border: 0;
  padding: 0;
  box-shadow: 0 0 0 white; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/* Block Menu ----------------------------------------------------- */
#block-menu-block-1 {
  overflow: hidden;
  margin-bottom: 1.35em; }
  #block-menu-block-1 .block-title {
    display: none; }

.menu-block-1 ul {
  margin: 0 !important;
  padding: 0 !important; }

.menu-block-1 li {
  list-style: none !important;
  margin: 0 0 2em 0 !important;
  position: relative;
  display: block; }

.menu-block-1 a {
  float: left;
  width: 33.3333%;
  display: block;
  height: 150px;
  padding: 0.25em 0.5em;
  background-repeat: no-repeat !important;
  font-size: 1.1em; }

.holzarten a {
  background: url(assets/blockmenu/1.jpg); }

.lackfarben a {
  background: url(assets/blockmenu/2.jpg); }

.fronten a {
  background: url(assets/blockmenu/3.jpg); }

.qualit-t-und-material a {
  background: url(assets/blockmenu/5.jpg); }

.beschl-ge a {
  background: url(assets/blockmenu/4.jpg); }

.beleuchtung a {
  background: url(assets/blockmenu/6.jpg); }

.front .col-right {
  position: relative; }
  .front .col-right .flower {
    position: absolute;
    top: 10em;
    right: -3em;
    width: 15em;
    z-index: 9999; }

.front .region-front-aside .field-name-body {
  font-size: 1em; }

.front .field-name-field-col-left {
  width: 100% !important; }

.page-node .content {
  *zoom: 1; }
  .page-node .content:before, .page-node .content:after {
    content: " ";
    display: table; }
  .page-node .content:after {
    clear: both; }
.page-node .field-label {
  display: none; }
.page-node .field-name-body {
  margin-bottom: 1.35em;
  font-size: 1.1em; }
.page-node .field-name-field-col-left {
  float: left;
  width: 50%;
  padding-right: 1em; }
.page-node .field-name-field-col-right {
  float: right;
  width: 50%;
  padding-left: 1em; }

.photogrid {
  *zoom: 1; }
  .photogrid:before, .photogrid:after {
    content: " ";
    display: table; }
  .photogrid:after {
    clear: both; }
  .photogrid figure {
    float: left;
    margin-right: 2em;
    margin-bottom: 2.7em;
    width: 6em;
    position: relative; }
    .photogrid figure img {
      margin: 0 0 5px 0; }
    .photogrid figure figcaption {
      position: absolute;
      font-size: 12px; }
      .photogrid figure figcaption b {
        display: block; }

.einrichtungsbeispiele img {
  margin: 0 0 5px 0; }
.einrichtungsbeispiele .beispielnummer {
  font-size: 12px; }
.einrichtungsbeispiele .titel {
  font-size: 1em; }
.einrichtungsbeispiele td {
  padding: 0 0.5em 0.5em 0;
  width: 20% !important; }

.node-einrichtungsbeispiel .einrichtungsbeispiel-main {
  float: left;
  width: 66.6666%; }
.node-einrichtungsbeispiel .flexslider {
  margin: 0; }
.node-einrichtungsbeispiel .beispielnummer {
  padding: 0.5em; }
.node-einrichtungsbeispiel .einrichtungsbeispiel-details {
  float: right;
  width: 33.3333%;
  padding: 1em; }
  .node-einrichtungsbeispiel .einrichtungsbeispiel-details .field-label {
    display: block !important; }

.node-einrichtungsbeispiel .tab-container {
  float: left;
  width: 100%; }
.node-einrichtungsbeispiel .tabs {
  border-top: 0 solid;
  border-bottom: 1px solid #d4d4d4;
  margin: 0;
  padding-left: 0; }
  .node-einrichtungsbeispiel .tabs .tab {
    float: left;
    margin-left: 0;
    margin-right: 2px; }
  .node-einrichtungsbeispiel .tabs .tab a {
    margin-top: 0;
    margin-bottom: -1px;
    border: 1px solid #d4d4d4;
    border-bottom: 0 solid; }
    .node-einrichtungsbeispiel .tabs .tab a.active {
      background: #fff; }
.node-einrichtungsbeispiel .tab-pane {
  border: 1px solid #d4d4d4;
  border-top: 0 solid;
  padding: 0.5em;
  float: left;
  width: 100%;
  *zoom: 1; }
  .node-einrichtungsbeispiel .tab-pane:before, .node-einrichtungsbeispiel .tab-pane:after {
    content: " ";
    display: table; }
  .node-einrichtungsbeispiel .tab-pane:after {
    clear: both; }
  .node-einrichtungsbeispiel .tab-pane .taxonomy-term {
    float: left;
    margin-right: 1em; }
    .node-einrichtungsbeispiel .tab-pane .taxonomy-term h2 {
      font-size: 1em;
      margin: 0; }
    .node-einrichtungsbeispiel .tab-pane .taxonomy-term .taxonomy-term-description {
      font-size: 1em;
      margin: 0;
      display: none; }

/*

.page-taxonomy {
    .term-listing-heading {
        @include clearfix();
        .field-type-image {
            float: left;
            width: 33.3333%;
        }
        .taxonomy-term-description {
            float:left;
            width: 66.6666%;
        }
    }
    .node-einrichtungsbeispiel {
        sbackground: red;
        float:left;
        margin-right: $padding-l;
        img {
            margin: 0;   
        }
        .field-name-field-beispielnummer {
            display: none;
        }
        .node-title {
            font-size: $font-size-m;
            margin: 0;
            padding: $padding-m;
        }
        .links {
            display: none;
        }
    }
} */
.node {
  position: relative; }

.node-navigation {
  position: absolute;
  padding: 1em;
  top: -4.05em;
  left: 66.6666%;
  margin: 0;
  list-style: none;
  *zoom: 1; }
  .node-navigation:before, .node-navigation:after {
    content: " ";
    display: table; }
  .node-navigation:after {
    clear: both; }
  .node-navigation li {
    float: right; }
  .node-navigation a {
    display: block;
    padding: 0.25em;
    border: 1px solid #eeeeee;
    margin-right: 2px; }

.node-navigation.bottom {
  padding-left: 0;
  bottom: -4.05em;
  top: auto;
  left: auto; }

.draggableviews-processed li.views-row {
  display: block;
  float: left;
  width: 20%;
  margin: 0;
  padding: 0.25em;
  cursor: move;
  height: 12em; }
  .draggableviews-processed li.views-row img {
    margin: 0 0 5px 0; }
  .draggableviews-processed li.views-row .views-field-field-beispielnummer, .draggableviews-processed li.views-row .views-field-nid {
    display: none; }

body {
  background: #453e3f; }

.site-header {
  background: #eeeeee;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #969696));
  background-image: -webkit-linear-gradient(160deg, white 0%, #969696 100%);
  background-image: -moz-linear-gradient(160deg, white 0%, #969696 100%);
  background-image: -ms-linear-gradient(160deg, white 0%, #969696 100%);
  background-image: -o-linear-gradient(160deg, white 0%, #969696 100%);
  background-image: linear-gradient(160deg, white 0%, #969696 100%); }

.site-nav {
  border-bottom: 2px solid black; }

.site-main {
  background: #fff; }

.site-footer {
  border-top: 2px solid black; }

.site-nav {
  color: silver; }
  .site-nav .nav-main {
    background: #453e3f;
    margin-top: -1.7em;
    padding: 2px 2px 0 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
    .site-nav .nav-main a {
      border-radius: 2px;
      color: #eeeeee;
      font-weight: bold; }

.site-footer {
  color: silver; }
  .site-footer a {
    color: #eeeeee;
    font-weight: bold; }

.nav-main a {
  position: relative; }
  .nav-main a:hover {
    background: #e74136; }

.sidebar {
  background: #eeeeee; }

.row {
  margin: 0 auto;
  max-width: 80em;
  padding: 0 1em;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.site-main .sidebar {
  float: right;
  margin-top: 2em; }

.page-admin .site-main .row {
  max-width: 100%; }
.page-admin .sidebar {
  display: none; }

.front .site-content {
  *zoom: 1; }
  .front .site-content:before, .front .site-content:after {
    content: " ";
    display: table; }
  .front .site-content:after {
    clear: both; }
.front .col-left {
  padding-right: 1em; }
.front .col-right {
  padding-left: 1em; }

.sub {
  padding: 2em; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
.tabs {
  width: 100%;
  float: left;
  margin: 0 0 1.35em 0;
  padding: 0 1em;
  list-style: none;
  border-top: 1px solid #d4d4d4;
  *zoom: 1; }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs li {
    float: right;
    margin-left: 2px; }
    .tabs li a {
      display: block;
      padding: 0.5em;
      border: 1px solid #d4d4d4;
      border-top: 0 solid;
      margin-top: -1px; }
      .tabs li a.active {
        border-top: 0 solid;
        background: #fff; }

.form-actions input[type="submit"] {
  margin: 0 2px 2px 0;
  border: 0 solid;
  font-weight: normal; }

.action-links {
  padding: 0;
  list-style: none;
  *zoom: 1; }
  .action-links:before, .action-links:after {
    content: " ";
    display: table; }
  .action-links:after {
    clear: both; }
  .action-links li {
    float: left;
    margin: 0 2px 2px 0; }

.collapsible legend a {
  color: #000;
  font-weight: bold; }

.form-submit {
  margin: 0.5em 0; }

.fieldset-wrapper {
  padding: 1em; }

input[type="checkbox"] {
  margin-right: .25em; }

.description {
  padding: 0.25em 0 0.5em 0.5em;
  margin: 0 !important;
  font-size: 12px;
  color: gray; }

tr.even,
tr.odd {
  border-bottom: 2px solid white; }

.item-list {
  float: left;
  width: 100%; }

.item-list ul.pager {
  text-align: left;
  *zoom: 1; }
  .item-list ul.pager:before, .item-list ul.pager:after {
    content: " ";
    display: table; }
  .item-list ul.pager:after {
    clear: both; }
  .item-list ul.pager li {
    float: left;
    margin: 0;
    padding: 0; }
    .item-list ul.pager li a {
      display: block;
      padding: 0.25em; }
  .item-list ul.pager li.pager-current {
    padding: 0.25em; }

.views-displays .tabs {
  border-top: 0 solid !important; }

.messages {
  margin: 1.35em !important; }

.page-title em {
  font-style: normal;
  color: #e74136; }

.lt-ie9 body, .lt-ie9 input, .lt-ie9 select, .lt-ie9 button {
  font-size: 1em; }
.lt-ie9 .row {
  width: 1240px; }
.lt-ie9 .site-header {
  background: #eeeeee; }
